
<h1 id='infoContainer'
>Hello, Rails!</h1>
<h3 id='opponentInfoContainer'
></h3>

<div data-controller="game" class="board" id='boardContainer'>

</div>

<input value="Surrender" type="button" id = 'surrender_button'>


